.montserrat
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  font-weight: 300
    font-style: normal
    
    
body
    margin: 0
    font-family: montserrat
    .header
        color: #ffffff
        background-image: url('../assets/img/banner.jpg')
        header
            display: flex
            flex-direction: column
            align-content: center
        nav
            display: flex
            flex-wrap: wrap            
            justify-content: space-between
            padding: 1vw
            p
                align-content: center
                margin: 0
            ul
                display: flex
                list-style: none
                margin: 0
                li
                    padding: 2vw