@use './_mixins' as *

.montserrat
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  font-weight: 300
    font-style: normal
    
    
body
    margin: 0
    font-family: montserrat
    width: 99vw
    .header
        color: #ffffff
        // background-image: url('../assets/img/banner.jpg')
        padding-bottom: 15vw
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/img/banner.jpg')
        background-attachment: fixed
        header
            padding-top: 4vw
            h1
                text-align: center
                @include titre
            h4
                text-align: center
                width: 50%
                justify-self: center
                @include sous-titre
            button
                justify-self: center
                @include btn
                background-color: #f32853       
                color: #ffffff       
        nav
            display: flex
            justify-content: space-between
            padding: 1vw
            p
                align-content: center
                margin: 0
            ul
                display: flex
                list-style: none
                margin: 0
                li
                    padding: 2vw

.sect1
    justify-self: center
    padding-left: 18vw
    padding-bottom: 4vw
    padding-right: 18vw
    padding-top: 4vw
    p
        color: #00000071
        font-size: 14px

    div
        margin: 1vw
        h1
            @include titre2
            
        h4
            @include sous-titre2

.sect2
    div
        h1
            @include titre2
        h4
            @include sous-titre2
        



